@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose hr {
    margin-top: 0.5rem; /* or any value you want */
    margin-bottom: 0.5rem;
  }
}

.markdown-body {
  overflow-x: auto;
}

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown-body table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
